<div class="mothership-map-viewer">
  <div class="mothership-map-viewer-container">
    <div class="map-content">
      <div class="canvas-container">
        <canvas id="player-map-canvas"></canvas>
      </div>
    </div>
  </div>
</div>